.cover{
  background-color: rgba(0, 0, 0, 0.6);
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
  animation: fadeIn 3s;
  height: calc(100vh);
}

.container {
  background-color: black;
  background-image: url("../public/img/Book.png");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: calc(100vh);
  /* Need to add back in before adding more recepies */
  /* padding: 20px 10px;
  display: flex;
  flex-direction: column;
  align-items: center; */
}

@keyframes fadeIn {
  0% { 
    background-color: rgba(0, 0, 0, 0.8);
   }
  100% {
     background-color: rgba(0, 0, 0, 0.6); 
    }
}

/* .container {
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
} */

.desc {
  font-size: 24px;
  color: #444;
  width: 70%;
  text-align: center;
}

.title {
  text-align: center;
  padding-bottom: 10px;
}

.wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

@media screen and (max-width: 480px) {
  .title {
    text-align: center;
  }

  .desc {
    width: 90%;
    text-align: center;
  }
}